

body{
	margin:0;
	padding: 0;
	font-family:sans-serif;
	overflow:hidden;
}

/*universal*/
.control_box{
	background-color:black;
	border:1px solid gray;
	box-shadow: 4px 4px 8px 1px black;
	display:none;
}

/*top bar*/
#top_bar{
	position:absolute;
	width:100%;
	height:40px;
	left:-1px;
	top:-1px;
	z-index:1100;
	color:white;
}
.top_bar_section{
	position:relative;
	left:0;
	top:0;
	height:100%;
	text-align:center;
	float:left;
	white-space: nowrap;
  	overflow: hidden;
}
#btn_info{
	width:40px;
	font-size:30px;
	cursor:pointer;
}
#btn_info:hover{
	color:orange;
}
#btn_info > i.fas {
  line-height: 37px;
}
#page_title{
	width:calc(80% - 50px);
	font-size: 30px;
    font-weight: bold;
	line-height:40px;
	text-indent: calc(20% + 50px);
}
#data_update{
	width:20%;
	font-size:20px;
	line-height:40px;
	text-align:right;
	/*padding-right:5px;*/
}
#data_update_val{
	font-size:16px;
}
#top_bar_spacer{
	width:10px;
}

/*map*/
#map{
	position:absolute;
	top:0;
	bottom:0;
	width:100%;
	z-index:1000;
}

/*date slider box*/
#slider_container{
    position: absolute;
    bottom: 30;
    width: 50%;
    left: 1.5%;
    height: 100px;
    z-index: 1100;
   	white-space: nowrap;
  	overflow: hidden;
}
#date_slider{
    position: relative;
    width: 90%;
    left: 5%;
    top: 20%;
}
#slider_info_box{
    color: white;
    font-size: 32px;
    text-align: center;
}
.slider_val_box{
	color: gray;
    font-size: 13px;
    text-align: center;
    vertical-align:bottom;
}
#slider_min_box{
	text-align: left;
	padding-left: 30px;
}
#slider_max_box{
	text-align: right;    
    padding-right: 30px;
}

/*data options box*/
#data_options_box{
	position:absolute;
	z-index:1100;
	min-width: 225px;
	left:1.5%;
	top:20%;
	color:white;
	padding:5px;
}
.dataopt_title{
	font-size: 24px;
	border-bottom:1px solid white;
	padding-bottom:5px;
	text-align:center;
	font-weight:bold;
}
#dataopt_title_2{
	padding-top:10px;
}
.dataopt_spacer{
	height:5px;
}
.rb_dataopt_box{
	font-size: 20px;
    padding-left: 5%;
}
.rb_dataopt{
	width:20px;
	height:20px;
	margin-right: 5%;
	cursor:pointer;
}

/*legend*/
#legend_box{
	position:absolute;
	z-index:1100;
	width:225px;
	left:1.5%;
	top:50%;
	color:white;
	padding:5px;
	display:none;
}
#legend_data_metric{
	text-align:left;
	text-transform:capitalize;
	font-size: 20px;
}
#legend_data_type{
	text-align:left;
	text-transform:capitalize;
	font-size: 17px;
	padding-bottom: 5px;
    border-bottom: 1px solid white;
}

}
td.legend_label{
	width:60%;
	font-style:italic;
}
td.legend_swatch{
	width:40%;
	border:1px solid gray;
}
#first_legend_row{
	height:10px;
	font-size:16px;
}

/*tooltip box*/
#tooltip_box{
	position:absolute;
	color:white;
	padding:5px;
	height:100px;
    z-index: 1100;
    display:none;
}
#tooltip_header{
	text-align:center;
}
td.tooltip_data_label{
	text-indent:5px;
}
td.tooltip_data_val{
	text-align:right;
	padding-right:5px;
}

/*county search*/
/*#county_search_box{
	position:absolute;
	top:50px;
	right:1.5%;
	width:20%;
	height:35px;
	z-index:1100;
	table-layout:fixed;
}
#cs_label{
	width:40%;
	color:white;
}
#cs_input_box{
	width:60%;
}*/

/* county info box*/
#county_info_box{
    position: absolute;
    bottom: 30;
    width: 44.5%;
    height:20%;
    right: 1.5%;
    color:white;
    z-index: 1100;
    table-layout: fixed;
    display:none;
}
#ci_close{
	text-align:right;
	padding-right:5px;
}
#ci_close > i{
	position: absolute;
    right: 1%;
    top: 1%;
	cursor:pointer;
	font-size:25px;
}
#ci_close > i:hover{
	color:orange;
}
.rb_dataopt_chart{
	width:20px;
	height:20px;
	margin-right:5%;
	cursor:pointer;
}
.ci_options_box{
	position:absolute;
	width: 15%;
	padding-left: 5px;
    padding-top: 15px;
    text-align: left;
    font-size: 16px
}
#ci_options_2{
	left:15%;
}