<html>
	<head>
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
		<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.css" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/covid_map.css') }}" />

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
		<script src="https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.js"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/covid_map.js') }}"></script>

		<script type="text/javascript">
			var geodata_county = {{ geodata_county|tojson }}
			var date_list = {{ date_list|tojson }}
		</script>

	</head>
	<body>
		<div id="map"></div>


		<table id="data_options_box" class="control_box">
			<thead>
				<th id="dataopt_title" colspan="2">Data Type</th>
			</thead>
			<tbody>
				<tr>
					<td class="rb_dataopt_box">
						<input id="dataopt_cases" class="rb_dataopt" type="radio" name="dataopt_type" value="cases" checked="checked"># of Cases</input>
					</td>
				</tr>
				<tr>
					<td class="rb_dataopt_box">
						<input id="dataopt_deaths" class="rb_dataopt" type="radio" name="dataopt_type" value="deaths"># of Deaths</input>
					</td>
				</tr>
			</tbody>
		</table>


		<table id="slider_container" class="control_box">
			<tbody>
				<tr>
					<td id='slider_min_box' class="slider_val_box"></td>
					<td id='slider_info_box'></td>
					<td id='slider_max_box' class="slider_val_box"></td>
				</tr>
				<tr>
					<td colspan="3">
						<div id='date_slider'></div>
					</td>
				</tr>
			</tbody>
		</table>

<!-- 		<div id="slider_container" >
			<div id='slider_min_box' class="slider_val_box"></div>
			<div id='slider_info_box'></div>
			<div id='slider_max_box' class="slider_val_box"></div>
			
		</div> -->
	</body>
</html>