<html>
	<head>
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
		<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.css" />

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
		<script src="https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.js"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/covid_map.js') }}"></script>

		<script type="text/javascript">
			var geodata_county = {{ geodata_county|tojson }}
			var date_list = {{ date_list|tojson }}
		</script>

	</head>
	<body style="margin: 0;padding: 0;">
		<div id="map" style="position:absolute;top:0;bottom:0;width:100%;"></div>

		<div id="changebtn" style="position:absolute;top:0;bottom:0;width:500px;height:100px;background-color:orange;z-index:1000">
			<input type="text" id="date_slider_input" style="border: 0; color: #f6931f; font-weight: bold;" size="100"/>
			<div id='date_slider'></div>
		</div>
	</body>
</html>