<html>
	<head>
		<!-- Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-40220685-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-40220685-1');
		</script>

		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
		<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.css" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/covid_map.css') }}" />

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
		<script src="https://api.mapbox.com/mapbox-gl-js/v1.9.1/mapbox-gl.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
		<script src="https://kit.fontawesome.com/b309449b5a.js" crossorigin="anonymous"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/covid_map.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.number.min.js') }}"></script>

		<script type="text/javascript">
			var unique_county = {{ unique_county|tojson }}
			var geodata_county = {{ geodata_county|tojson }}
			var geodata_state = {{ geodata_state|tojson }}
			var date_list = {{ date_list|tojson }}
		</script>

	</head>
	<body>
		<!-- app shader-->
		<div id="app_shader"></div>

		<!-- top bar-->
		<div id="top_bar" class="control_box">
			<div id="btn_info" class="top_bar_section"><i class="fas fa-info-circle"></i></div>
			<div id="page_title" class="top_bar_section">Covid-19 US County Map</div>
			<div id="data_update" class="top_bar_section">Data Range: <span id="data_update_val"></span></div>
			<div id="top_bar_spacer" class="top_bar_section"></div>
		</div>

		<!-- sources/tech/etc info box -->
		<table id="app_info_box" class="control_box">
			<thead>
				<tr>
					<th colspan="3" id="ai_version" class="ai_header1"> Version 1.0</th>
					<th id="ai_close" class="ai_header1"><i class="far fa-window-close"></i></th>
				</tr>
				<tr>
					<th colspan="2" class="ai_midborder ai_header2">Sources</th>
					<th colspan="2" class="ai_header2">Tech</th>
				</tr>
			</thead>
			<tbody>
				<tr class="ai_row">
					<td class="ai_label">Covid-19 Data:</td>
					<td class="ai_val ai_midborder">New York Times (<a target="_blank" href="https://www.nytimes.com/interactive/2020/us/coronavirus-us-cases.html">Link</a>)</td>

					<td class="ai_label">Framework:</td>
					<td class="ai_val">Flask</td>
				</tr>
				<tr class="ai_row">
					<td class="ai_label">Shapefiles:</td>
					<td class="ai_val ai_midborder">US Census Bureau</td>

					<td class="ai_label">Front-end:</td>
					<td class="ai_val">HTML, CSS, JavaScript, jQuery</td>
				</tr>
				<tr class="ai_row">
					<td class="ai_label">Web Hosting:</td>
					<td class="ai_val ai_midborder">PythonAnywhere.com</td>

					<td class="ai_label">Python Packages & Libraries:</td>
					<td class="ai_val">pandas, json, geojson, flask</td>
				</tr>
				<tr class="ai_row">
					<td class="ai_label"></td>
					<td class="ai_val ai_midborder"></td>

					<td class="ai_label">JavaScript Libraries:</td>
					<td class="ai_val">jQuery, jquery-number, MapBox, Chart.js, Font Awesome</td>
				</tr>

				<!-- <td class="ai_label">Population Data:</td>
					<td class="ai_val ai_midborder">US Census Bureau</td> -->

				<tr>
					<td colspan="4" id="ai_github">Project Github: <a target="_blank" href="https://github.com/mikec2611/covid_map">Link</a></td>
				</tr>
			</tbody>
		</table>

		<!-- map -->
		<div id="map"></div>

		<!-- tooltip box -->
		<table id="tooltip_box" class="control_box">
			<thead id="tooltip_header">
				<tr>
					<th colspan="2" id="tooltip_header_name"></th>
				</tr>
				<tr>
					<th id="tooltip_header_type"></th>
					<th id="tooltip_header_date"></th>
				</tr>
			</thead>
			<tbody id="tooltip_body">
			</tbody>
		</table>

		<!-- data type control box -->
		<table id="data_options_box" class="control_box">

			<!-- metric -->

			<tbody>
				<tr>
					<td class="dataopt_title" colspan="2">Metric</ts>
				</tr>
				<tr>
					<td class="rb_dataopt_box">
						<input id="dataopt_cases" class="rb_dataopt_metric rb_dataopt" type="radio" name="dataopt_metric" value="cases" checked="checked">Reported Cases</input>
					</td>
				</tr>
				<tr>
					<td class="rb_dataopt_box">
						<input id="dataopt_deaths" class="rb_dataopt_metric rb_dataopt" type="radio" name="dataopt_metric" value="deaths">Reported Deaths</input>
					</td>
				</tr>
<!-- 				<tr>
					<td class="rb_dataopt_box" title="Cases per Capita">
						<input id="dataopt_casePC" class="rb_dataopt" type="radio" name="dataopt_type" value="casePC">Cases Per Capita</input>
					</td>
				</tr> -->

				<!-- data type -->
				<tr><td colspan="2" class="dataopt_spacer"></td></tr>
				<tr><td colspan="2" class="dataopt_title" id="dataopt_title_2">Data Type</td></tr>
				<tr>
					<td class="rb_dataopt_box">
						<input id="dataopt_cumulative" class="rb_dataopt_type rb_dataopt" type="radio" name="dataopt_type" value="cumulative" checked="checked">Cumulative</input>
					</td>
				</tr>
				<tr>
					<td class="rb_dataopt_box">
						<input id="dataopt_daily" class="rb_dataopt_type rb_dataopt" type="radio" name="dataopt_type" value="daily" >Daily</input>
					</td>
				</tr>
			</tbody>
		</table>

		<!-- legend -->
		<table id="legend_box" class="control_box">
			<thead>
				<tr>
					<th colspan="2" id="legend_data_metric"></th>
				</tr>
				<tr>
					<th colspan="2" id="legend_data_type"></th>
				</tr>
			</thead>
			<tbody id="legend_body">
			</tbody>
		</table>

		<!-- date slider control box -->
		<table id="slider_container" class="control_box">
			<tbody>
				<tr>
					<td id='slider_min_box' class="slider_val_box"></td>
					<td id='slider_info_box'></td>
					<td id='slider_max_box' class="slider_val_box"></td>
				</tr>
				<tr>
					<td colspan="3">
						<div id='date_slider'></div>
					</td>
				</tr>
			</tbody>
		</table>

 		<!-- county search box-->
<!--		<table id="county_search_box" class="control_box">
			<tbody>
				<tr>
					<td id="cs_label">Search for county:</td>
					<td id="cs_input_box">
						<input id="cs_input" name="cs_input" type="text"></td>
					</td>
				</tr>
			</tbody>
		</table> -->

		<!-- county info box -->
		<table id="county_info_box" class="control_box">
			<thead>
				<tr>
<!-- 					<th id="ci_options_metric ci_options_box">
						<input id="dataopt_cases_chart" class="rb_dataopt_metric_chart rb_dataopt_chart" type="radio" name="dataopt_metric_chart" value="cases" checked="checked">Reported Cases</input>

						<input id="dataopt_deaths_chart" class="rb_dataopt_metric_chart rb_dataopt_chart" type="radio" name="dataopt_metric_chart" value="deaths">Reported Deaths</input>
					</th>
 -->
					<th class="ci_options_box" id="ci_options_1">
						<input id="dataopt_cumulative_chart" class="rb_dataopt_type_chart rb_dataopt_chart" type="radio" name="dataopt_type_chart" value="cumulative" checked="checked">Cumulative</input>
					</th>
					<th class="ci_options_box" id="ci_options_2">
						<input id="dataopt_daily_chart" class="rb_dataopt_type_chart rb_dataopt_chart" type="radio" name="dataopt_type_chart" value="daily">Daily</input>
					</th>

					<th id="ci_close"><i class="far fa-window-close"></i></th>
				</tr>
			</thead>
			<tbody id="county_info_body">
				<tr>
					<td colspan="3">
						<canvas id="county_chart_container" height=125px></canvas>
					</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>